<div class="container-fluid col-xl-10">
  <div class="card-body">
    <h3 class="card-header title text-center">Liste des Groupes de Competences du Réferentiel {{ref?.libelle}}</h3>
  </div>
  <div class="container mt-5" *ngIf="nbrGrp == 0">
    <h1 class = "text-center" *ngIf="nbrGrp == 0">{{message}}</h1>
  </div>
  <button class="btn btn-outline-success mt-5" (click) = "PagePrecedente()">Retour</button>
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-md-4 col-12" *ngFor="let g of grpCpmt; let i = index">
      <div class="card">
        <div class="container-fluid bg-success">
          <h4>{{g.libelle}}</h4>
          </div>
          <a href="#Desc-{{ i }}" class="btn btn-outline-dark btn-block card-footer" data-toggle="collapse">Descriptif</a>
          <div id="Desc-{{ i }}" class="collapse">
            <div class="card-body">
              {{g.descriptif}}
            </div>
          </div>
          <div>
          <a class="btn btn-outline-dark btn-block card-footer" href="/acceuil/grpCmpts/itemGrpCompt/{{ g.id }}">Competence</a>
          <button class="btn btn-outline-dark btn-block card-footer" disabled>Tags</button>
        </div>
      </div>
    </div>
  </div>

  <form class = "float-right" *ngIf =" nbrPage !== 1">
    <button [disabled]="page == 1"  class="btn btn-primary mr-4" (click) = "precedent()">Previous</button>
    <button [disabled]="page == nbrPage" class="btn btn-primary" (click) = "suivant()">Next</button>
  </form>
</div>
